#linha{
    background-color: black;
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 858px;
    height: 3px;
}

#fundo{
    text-align: center;
    background-color: gold;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 100px;
}

#fundo ul{
    padding:0px;
    margin:0px;
    list-style:none;
}

#fundo ul li{ 
    display: inline;
}

#fundo ul li a{
    padding: 32px 150px;
    display: inline-block;
}

.bot{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: white;
}

#conteudo{
    color: black;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    text-align: center;
}

#titulo{
    font-size: 35px;
    text-align: justify;
    text-indent: 45px;
}

.texto{
    font-size: 30px;
    text-align: justify;
    text-indent: 45px;
}

#titulo_for{
    margin-left: 30px;
    font-size: 50px;
}

#titulo_for2{
    margin-left: 165px;
    font-size: 50px;
}

#linha2{
    background-color: black;
    height: 650px;
    width: 3px;
    position: fixed;
    top: 230px;
    right: 1118px;
}

#linha3{

    background-color: gold;
    height: 650px;
    width: 3px;
    position: fixed;
    top: 230px;
    right: 1100px;

}

#bloco{
    position: fixed;
    right: 592px;
    top: 320px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px gold;
    font-size: 22px;
}

#bloco2{
    position: fixed;
    right: 470px;
    top: 470px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px gold;
    font-size: 22px;
}

#bloco3{
    position: fixed;
    right: 110px;
    top: 620px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px gold;
    font-size: 22px;
}

#fundo2{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: gold;
    height: 400px;
}

#bloco_contato{
    position: fixed;
    left: 570px;
    top: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 10px 50px gold;
    font-size: 22px;
}

#botao{
    background-color: gold;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

#port{
    font-size: 130px;
    text-align: center;
    margin-top: -105px;
}

#img{
    text-align: center;
}

#linha4{
    position: absolute;
    background-color: gold;
    height: 6px;
    left: 382px;
    right: 382px;
}

#linha5{
    position: absolute;
    right: 1482px;
    bottom: -155px;
    background-color: gold;
    height: 611px;
    width: 6px;
   

}
.p{
    font-size: 45px;
}

